# Python
.venv/
venv/
env/
Env/
__pycache__/
*.pyc

# Node (if any)
node_modules/

# Big/derived stuff
build/
dist/
*.log
*.zip
*.tar.gz
*.rar
*.7z
*.pth
*.pt
*.ckpt
*.h5
*.onnx
*.pkl

# IDE
.vscode/
.idea/
.DS_Store
